/* Dropdown */
.ant-dropdown {
  > .ant-dropdown-menu {
    @include glass-bg;
  }
}

/* Menu */
.ant-menu-item-group-title {
  font-weight: 600;
}

/* Card */
.ant-card {
  backdrop-filter: var(--bg-filter-blur);
}

/* Drawer */
.ant-drawer-content {
  backdrop-filter: var(--bg-filter-blur);
}

/* Apply glass bg */
.ant-select-dropdown,
.ant-popover-inner,
.ant-drawer-content {
  @include glass-bg;
}
