/* Dropdown */
.ant-dropdown {
  > .ant-dropdown-menu {
    @include glass-bg;
  }
}

/* Menu */
.ant-menu-item-group-title {
  font-weight: 600;
}

.ant-menu-submenu-selected {
  .ant-menu-title-content > span {
    color: var(--ant-menu-item-selected-color);
  }
}

/* Card */
.ant-card {
  backdrop-filter: var(--bg-filter-blur);
}

/* Drawer */
.ant-drawer-content {
  backdrop-filter: var(--bg-filter-blur);
}
/* Form */
.ant-form-item-explain-error {
  font-size: 12px;
}

/* Apply glass bg */
.ant-select-dropdown,
.ant-popover-inner,
.ant-drawer-content {
  @include glass-bg;
}
