:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-base: #222222;

  --glass-bg: #ffffff70;

  --glass-bg-url: url('/images/backgrounds/background-2.jpg');
  --glass-cover-bg-color: rgba(255, 255, 255, 0.7);

  --bg-filter-blur: blur(10px);

  /* Antd */
  --ant-layout-sider-bg: #ffffff70;

  --palette-common-blackChannel: 0 0 0;
  --palette-common-black: #000000;

  --swiper-navigation-color: #9254de;
  --swiper-pagination-color: #9254de;
  --swiper-pagination-bullet-inactive-color: #9254de;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-theme='dark'] {
  --glass-bg-url: url('/images/backgrounds/dark-background.jpg');
  --glass-cover-bg-color: rgba(30, 30, 30, 0.6);

  --text-base: #ffffff;
}
