@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
// }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  background: transparent !important;
  width: 4px !important;
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

/* Neumorphism */
.neumorphism-background {
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(6px) !important;
}

.neumorphism-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/images/backgrounds/overlay-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: auto;
}

.cl-footer {
  > [class*="cl-internal-"]:nth-child(2) {
    display: none;
  }
}
