@import './base.scss';
@import './mixin.scss';
@import './antd.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
// }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  background: transparent !important;
  width: 4px !important;
  height: 4px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d9d9d9 !important;
  border-radius: 4px;
}

/* Neumorphism */
.glass-background {
  background: #ffffff50 !important;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.glass-section {
  @include glass-cover-bg;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.cl-footer {
  > [class*='cl-internal-']:nth-child(2) {
    display: none;
  }
}

/* Layout */
#dashboard-layout {
  @include glass-cover-bg;
}
