@mixin glass-bg {
  background-image: url('/images/core/cyan-blur.png'), url('/images/core/red-blur.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 50%;
  background-position:
    right top,
    left bottom;
}

@mixin glass-cover-bg {
  background: linear-gradient(to bottom, var(--glass-cover-bg-color), var(--glass-cover-bg-color)),
    var(--glass-bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: auto;
}
