@mixin glass-bg {
  background:
    url('/images/core/cyan-blur.png') right top / 50% no-repeat,
    url('/images/core/red-blur.png') left bottom / 50% no-repeat,
    var(--ant-color-bg-elevated) !important;
}

@mixin glass-cover-bg {
  background: linear-gradient(to bottom, var(--glass-cover-bg-color), var(--glass-cover-bg-color)),
    var(--glass-bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: auto;
}
